*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.header-all{
    display: flex;

    justify-content: space-between;
    padding-left: 75px;
    padding-right: 75px;


}
.header-button{
   /* display: flex; */
  
  
   padding:12px;
   /* width: 100%; */
   /* justify-content: flex-end; */
}
.header-ul{
    display: flex;
 

    width: 27%;
    justify-content: space-between;
    list-style: none;
  
}
.header-link{
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 19px;
   

 
}
.header-b2{
    padding: 6px;
    background-color: rgb(97, 97, 228);

    
}
li a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.header-p{

}


 


